#!/bin/bash

iptables -F
iptables -t nat -F
iptables -t mangle -F
iptables -X

iptables -P INPUT ACCEPT
iptables -P FORWARD DROP
iptables -P OUTPUT ACCEPT

iptables -A FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT

iptables -A FORWARD -i {{ wireless_interface }} -o wg0 -s {{ ap_subnet }}.0/24 -d {{ service_ip }}/32 -j ACCEPT
iptables -t nat -A POSTROUTING -o wg0 -s {{ ap_subnet }}.0/24 -d {{ service_ip }}/32 -j MASQUERADE

iptables -A FORWARD -i {{ wireless_interface }} -o {{ ethernet_interface }} -s {{ ap_subnet }}.0/24 ! -d {{ service_ip }}/32 -j ACCEPT
iptables -t nat -A POSTROUTING -o {{ ethernet_interface }} -s {{ ap_subnet }}.0/24 ! -d {{ service_ip }}/32 -j MASQUERADE

netfilter-persistent save